body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 13px;
	color: #061C37;
	background:#660000 url(background.png);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto; 
}

#page
{
  display: block; 
  height:auto;
  position: relative; 
  overflow: hidden; 
  width: 670px;
}

#Navigacija ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  height: 30px;
  margin: 0;
}
#Navigacija a:link,
#Navigacija a:visited,
#Navigacija a:hover,
#Navigacija a:active {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: white;
  text-decoration: none;
  border-bottom: 0px;
  padding: 7px 10px;
  box-sizing: border-box;
  transition: all .75s ease;
}

.topNaviagationLink
{
text-align:center;
position:relative;
margin-top:30px;
font-size:30px;
margin-left:-10px;
width:121px;
height: 35px;
line-height: 35px;
float:left;
color:#000000;
}


.topNaviagationLink a
{
text-decoration:none;
color:#000000;
margin-bottom:0px;
border-bottom:dashed 1px;
}

.topNaviagationLink a:hover
{
color:#FFFFFF;
display: block;
width:121px;
height: 35px;
line-height: 35px;
background-image:url();

}

#mainPicture
{
clear:both;
width:670px;
height:345px;
background-color:#160306;
}

#mainPicture .picture {
 position:relative; 
width:650px; 
height:325px;
top:10px; background-image:url(soncnizahod.jpg);
background-repeat:no-repeat; 
}

#headerTitle
{
position:relative;
top:14px;
left:22px;
font-size:27px;
color:#FFFFFF;
}

#headerSubtext
{
position:relative;
top:12px;
left:22px;
font-size:14px;
color:#25060B;
}

.contentBox
{
width:670px;
height:auto;
background-color:#160306;
}

.contentBox .innerBox
{
position:relative;
margin-top:10px;
width:650px;
height:auto;
top:10px;
background-image:url();
background-color:#FFFFFF;
background-repeat:repeat-x;
}

h1
{
font-size:45px;
margin-bottom:10px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
color:#1F1603;
text-align:center;

}
h2
{
font-size:25px;
margin-bottom:10px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
color:#1F1603;
text-align:center;
}
h3
{
font-size:15px;
margin-bottom:10px;
padding-top:18px;
margin-left:15px;
margin-top:15px;
color:#1F1603;
text-align:center;
}

.contentText
{
font-size:13px;
line-height:24px;
margin-left:13px;
margin-right:13px;
}

#footer {
text-align:center;
padding-top:30px;
font-size:9px;
font-family:Arial, Helvetica, sans-serif;
color:#C87002;
margin:0px;
}

#footer a
{
text-decoration:none;
font-size:9px;
}

a
{
color:#C87002;
text-decoration:none;
}

a:hover
{
color:#793C06;
text-decoration:none;
border-bottom:dotted 2px;
}
a:visited
{
color:#793C06;

}
table, th, td {
  border: 1px solid black;
  color: white;
  background:#ff8000;
}